@import 'text';

h2, h3, h4 {
    @include headline-font;
    @include headline;
    font-size: 1.6em;
}

ul, ol {
    margin-left: $margin * 2;
    font-size: 1em;
}

img {
    width: 100%;
    display: block;
    margin: ($margin * 2) 0;
}

cite {
    padding: $padding;
    font-size: 1.1em;
    font-weight: 500;
    background: rgba($color-text, 0.5);
    color: darken($color-background, 20%);
}