 <a class="icon icon-menu navigation-toggle" (click)="toggleMenu()"></a>
 <div class="navigation" [ngClass]="{'open': navigation.open}">
  <div class="row navigation-list">
    <ul class="columns">
      <li class="section" *ngFor="let main of nav.categories;">
				<h3><a [routerLink]="['/category', main.name]">{{main.name}}</a></h3>
				<ul>
					<li *ngFor="let category of main.entries;"><a [routerLink]="['/category', main.name, category.name]" class="post">{{ category.name }} ({{ category.count }})</a></li>
				</ul>
      </li>
			<li class="section" *ngFor="let page of nav.pages;"><a [routerLink]="['/page', page.name]" class="page">{{page.title}}</a></li>
    </ul>
  </div>
</div>
