@import 'variables';
@import 'mixins';
@import 'text';

$navigation-level: 1;
$menu-icon-level: 20;
$menu-icon-size: 30px;


// Mobile
@media screen and (max-width: $mobile-viewport) {
  @import './style-modules/mobile';
}

// Desktop
@media screen and (min-width: $mobile-viewport) {
  @import './style-modules/desktop';
}
