//
// Texts

@import '_variables';

// Font
@mixin headline-font {
  font-family: 'kontrapunkt', serif;
}

@mixin text-font {
  font-family: 'Raleway', sans-serif;
}

// Attributes
html, body {
  color: $color-text;
  font-weight: 200;
  line-height: 1.3em;
  @include text-font;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 $margin 0;
}

p, ul, cite {
  display: block;
  margin: 0 0 $margin 0;
}

a {
  text-decoration: none;
  color: $color-text;
  border-bottom: 1px solid $color-text;

  &:hover {
    text-decoration: none;
  }
}

blockquote, blockquote p {
	color: $color-text;
}

// Headlines
@mixin headline {
  font-weight: 700;
  margin-bottom: $margin;
  line-height: 1.4em;
}

.headline-small {
  @include headline-font;
  @include headline;
  font-size: 1.2em;
}

.headline-medium {
  @include headline-font;
  @include headline;
  font-size: 1.6em;
}

.headline-large {
  @include headline-font;
  @include headline;
  font-size: 2em;
  text-transform: uppercase;
}

// Alignment
.text-centered {
  text-align: center;
}
