//
// VARIABLES

// Layout
$margin: 15px;
$padding: 15px;

// Viewports
$mobile-viewport: 736px; // iPhone 6+ in landscape
$desktop-viewport: 1200px;

// Colors
$color-text: #f4f3f5;
$color-background: #44424f;

$color-category-one: #df594e;
$color-category-two: #df1692;
$color-category-three: #267de4;
$color-category-four: #dc9c52;

// Shadows
$shadow-bottom: 0 8px 6px -6px $color-background;
$shadow-top: 0 -6px 6px -6px $color-background;

// Levels
$header-level: 10;

// Animations
$duration: 200ms;
