// Error - Styles

@import 'variables';
@import 'mixins';

$color-error: #FF392D;

.error {
    width: 100%;
    height: 100%;

    @include flex-center;

    flex-direction: column;

    .error-msg {
        color: $color-error;
    }
}