//
// Header Animations Desktop

.header {
    background: $color-background;
}

.header.navigation-open {
    .site-headline {
        transition: opacity $duration linear;
    }

    transition: background-color $duration ease-in-out, width $duration ease-in-out $duration, min-width $duration ease-in-out $duration;

    .navigation {
        transition: left $duration ease-in-out $duration * 2;
    }
}

.header.navigation-closed {
    .navigation {
        transition: left $duration ease-in-out;
    }

    transition: background-color $duration ease-in-out, width $duration ease-in-out $duration, min-width $duration ease-in-out $duration;

    .site-headline {
        transition: opacity $duration linear $duration * 2;
    }
}

.header.navigation-closed:not(.small-header) {
    transition: background-color $duration ease-in-out, width $duration ease-in-out, min-width $duration ease-in-out;

    .site-headline {
        transition: opacity $duration linear;
    }
}

.header.navigation-open.small-header {
    .site-headline {
        margin-left: -10px;
        transform: translate3d(0, 50%, 0) rotate(-90deg);
  	}

  	.site-claim {
        @include visually-hidden;
  	}
}
